div.card-container
  div.card-header
    img.card-avatar(src="https://placeholdit.imgix.net/~text?txtsize=33&w=150&h=150")
    span.card-user-name Basilico Eats
    span.card-user-meta June 1, 2015
  div.card-body
    p.card-description A flavorful local favorite of Basilico Eats- try this all-star, easy-to-follow artichokes with roasted...
  div.card-actions
    a(href="#")
      i.icon-heart
    a(href="#")
      i.icon-share
    a(href="#")
      i.fa.fa-address-book

